body {
  background-color: black;
  width: 800px;
  height: 100%;
}

.wrapper {
  width: 767px;
  margin: 0 auto;
}

h1 {
  color: red;
}

img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 300px;
}