
.functioning {
    width: 375px;
    height: 440px;
    @extend %flex-center;
    &__card {    
        @include card;
        background: $bg-color-primary;
        width: 325px;
        height: 75px;
    }
}