
// fonts

$font-primary: 'Shrikhand', cursive;
$font-secondary: 'Roboto', sans-serif;

// colors

$color-primary: #9356DC;
$color-secondary: #FF79DA;
$color-tertiary: #99E2D0;
$color-light: #fff;
$color-dark: #000;


// background

$bg-color-primary: #EAEAEA;
$bg-color-secondary: #030000;
$bg-color-tertiary: #F6F6F6;


// card

$radius: 20px;
$right: 5px;
$bottom: 5px;
$size: 5px;
$color: #E5E5E5;

// typography

$color-typo: #000;
$size-typo-h1: 3em;
$size-typo-h2: 2em;
$size-typo-h3: 1em;