// fonts

$font-primary: 'Shrikhand', cursive;
$font-secondary: 'Roboto', sans-serif;

// colors

$color-primary: #9356DC;
$color-secondary: #FF79DA;
$color-tertiary: #99E2D0;

// background

$bg-color-primary: #F7F7F7;
$bg-color-secondary: #EAEAEA;

// card

$radius: 20px;
$right: 5px;
$bottom: 5px;
$size: 5px;
$color: #E5E5E5;